.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}

.form{
  display: flex;  
  justify-content: center;
  margin: 5px;
  color: aliceblue;
  background-color:gray;
}

.table-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.fname{
  width: 10%;
  margin: auto;
}
